.add-option-error{
    color: $offwhite;
    font-style: italic;
    margin: $m-base 0 0 0;
    padding: 0 $m-base;
}

.add-option{
    display: flex;
    padding: $m-base;
}

.add-option__input{
    flex-grow: 1;
    background: $dark-blue;
    border: none;
    color: $offwhite;
    padding: $s-size;
    margin-right: $s-size;
    border-bottom: .3rem solid darken($dark-blue, 10%)
}