.header {
    background: $offblack;
    color: white;
    margin-bottom: $m-base;
    padding: $m-base 0;
  }
  
.header__title {
  font-size: $l-size;
  margin: 0;
}

.header__subtitle {
  color: $offwhite;
  font-size: $m-base;
  font-weight: 500;
  margin: 0;
}

@media (min-width: $desktop-breakpoint){
  .header{
    margin-bottom: $xl-size;
  }
}