.header {
    background: $offblack;
    color: white;
    margin-bottom: $xl-size;
    padding: $m-base 0;
  }
  
.header__title {
  font-size: $l-size;
  margin: 0;
}

.header__subtitle {
  color: $offwhite;
  font-size: $m-base;
  font-weight: 500;
  margin: 0;
}